:root{
    --color-veryDarkBlue : hsl(212, 21%, 14%);
    --color-darkGrayishBlue : hsl(228, 12%, 48%);
    --color-darkCyan : hsl(158, 36%, 37%);
    --color-cream : hsl(30, 38%, 92%);
    --color-activeDarkCyan : hsl(158, 36%, 25%);
}

body {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background-color: var(--color-cream);
    color: var(--color-darkGrayishBlue);

    display: grid;
    place-items: center;
}
.product-card{
    background-color: white;
    border-radius: 0.75rem;
    overflow: hidden;
    margin: 1rem;
}
.product-card__container{
    margin: 1.5rem;
    display: grid;
    gap: 1rem;
}
.product-category{
    text-transform: uppercase;
    letter-spacing: 5px;
}
.product-title{
    font-family: 'Fraunces', serif;
    color: var(--color-veryDarkBlue);
    font-weight: 700;
    /* Not sure about these two styles */
    font-size: 2rem;
    line-height: 2rem;
}
.flex{
    display: flex;
    align-items: center;
    gap: 1rem;
}
/* .product-card__prices{
    display: flex;
    align-items: center;
    gap: 1rem;
} */
.current-price{
    color: var(--color-darkCyan);
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Fraunces',serif;
}
.discounted-price{
    text-decoration: line-through;
}
.to-cart{
    border: none;
    padding: 0.75rem;
    background-color: var(--color-darkCyan);
    color: white;
    font-weight: 700;
    border-radius: 0.5rem;
    justify-content: center;
}
.to-cart img{
    display: inline;
}

.to-cart:hover, .to-cart:active{
    cursor: pointer;
}
.to-cart:active{
    background-color:var(--color-activeDarkCyan) ;
}
@media(min-width:600px){
    .product-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 595px;
    }
    .product-card__container{
        margin: 1.75rem;
    }
    .product-category{
        font-size: 0.75rem;
    }
}