:root{
    --color-veryDarkBlue : hsl(212, 21%, 14%);
    --color-darkGrayishBlue : hsl(228, 12%, 48%);
    --color-white : white;
    --color-darkCyan : hsl(158, 36%, 37%);
    --color-cream : hsl(30, 38%, 92%);
}
